.final-list{

    background: #F9F9F9 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 15px;
    margin: 30px 0px 20px 20px;
    padding: 20px 5px 20px 10px;

.final-box{
    display: flex;
    width: 250px;
    height: 132px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    box-shadow: 0px 30px 60px #00000017;
    border: 1px solid #CBCBCB;
    opacity: 1;
    border-radius: 20px;
    color: #FFFFFF;
}
}